
{
    "Highlight_modified_tabs": true,
        "auto_complete": true,
        "auto_complete_delay": 100,
        "auto_complete_triggers":
            [
            {
                "characters": "<>\"'-_qazwsxedcrfvtgbyhnujmikolpQAZWSXEDCRFVTGBYHNUJMIKOLP",
                "selector": "text, source, meta, string, punctuation, constant"
            }
            ],
            "caret_extra_bottom": 0,
            "caret_extra_top": 0,
            "caret_extra_width": 2,
            "caret_style": "phase",
            "color_scheme": "Packages/Color Scheme - Default/Solarized (Dark).tmTheme",
            "default_encoding": "UTF-8",
            "default_line_ending": "unix",
            "draw_minimap_border": true,
            "draw_white_space": "all",
            "ensure_newline_at_eof_on_save": true,
            "font_face": "Monaco",
            "font_size": 14.0,
            "gutter": true,
            "highlight_line": true,
            "ignored_packages":
                [
                "Phpcs",
            "Vintage",
            "Vintageous"
                ],
                "indent_subsequent_lines": true,
                "margin": 0,
                "tab_completion": false,
                "theme": "Soda SolarizedDark.sublime-theme",
                "translate_tabs_to_spaces": true,
                "trim_trailing_white_space_on_save": true,
                "update_check": false,
                "word_separators": "./\\()\"':,.;<>~!@#$%^&*|+=[]{}`~?",
                "word_wrap": true
}
